* { padding: 0; margin: 0; }
html{
    background-color: #f0f2f5;
    border: 4px solid red;
    width: 100%;
}

.container{
    border: 3px solid yellow;
    padding-top: 72px ;
    padding-bottom: 112px;
  
    width: 100%;
    background-color: #f0f2f5;
}
.container-body{
    border: 1px solid blue;
    height: 536px;
    width: 100%;
    display: block;
}

.bottom{
    border: 6px solid Purple;
    padding-top: 20px;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 136px;
}