* { padding: 0; margin: 0; }
html{
    background-color:white;
    width: 100%;
}

body{
    line-height: 1.34;
    width: 100%;
}
.global-container{
    width: 100%;
    padding-bottom: 1.25em;
    margin: 0 auto;
    position: relative;
    zoom: 1;
    display: block;
    background-color: white;
}
.container{
    position: relative;
    width: 100%;
    background-color: #f0f2f5;
    height: 44.7em;
}
.container-body{
    width: 100%;
    display: block;
    padding-top: 4.5em ;
    padding-bottom: 7em;
}

.content{
    height:33.5em;
    width: 100%;
}

.facebook{
    margin: 0 auto;
    padding: 1.25em 0;
    position: relative;
    width: 61.7em;
    display: block;
    height:36em;
}

.box{
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 2em;
    width: 36.4em;
   height: 15.625em;
    float: left;
    display: inline-block;
    vertical-align: top;
}

.box-image{
    display: block;
    padding: 6.85em 0 1em;
}
.fb_img{
    height: 7em;
    margin: -1.75em;
    border: 0;
}

.connect{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.75em;
    font-weight: normal;
    /* line-height: 2em; */
    width: 18em;
    padding: 0 0 1.25em;
    display: inline-block;
}

.input-wrapper{
    display: inline-block;
    vertical-align: top;
    width:24.8em;
    float: left;
    height: 31em;
}

.input-container{
    height: 32.6em;
    width: 100%;
    display: block;
}
.input-group{
    padding-bottom: 1.5em;
    padding-top: 0.6em;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 2.5em 0 0;
    /* padding: 1.25em 0 1.75em; */
    width: 100%;
 
}

form{
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inputs{
    display: inline-block;
    font-size: 0.875em;
    margin: auto;
    padding: 0.375em 0;
    font-size: 1.0625em;
    width: 100%;
}

.btn-logIn{
    padding-top: 0.375em ;
    display: block;
    width: 100%;
    margin: auto;
    font-size: 1.0625em;
}

.button{
    background-color: #1877f2;
    border: none;
    border-radius: 0.45em;
    font-size: 1.2em;
    height:2.4em;
    font-weight: bold;
    /* line-height: 3em; */
    padding: 0 1em;
    width: 92%;
    cursor: pointer;
    /* display: block; */
    /* text-decoration: none;
    white-space: nowrap; */
    color: #fff;
    justify-content: center;
    margin: 0 auto;
    /* display: inline-block; */
}

.access-password{
    margin-top: 1em;
    display:block;
}

.forgot-password{
    color: #1877f2;
    font-size: 0.875em;
    font-weight: 500;
}

.line{
    align-items: center;
    border-bottom: 0.0625em solid #dadde1;
    display: flex;
    margin: 1.25em 1em;
    text-align: center;
}

.create{
    padding-top: 0.375em;
    display: block;
}

.btn-create{
    background-color: #42b72a;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.875em;
    border: none;
    border-radius: 0.375em;
    font-size: 1.0625em;
    line-height: 3em;
    padding: 0 1em;
    font-weight: bold;
    justify-content: center;
}

.create-page{
    display: block;
    margin-top: 2em;
    text-align: center;
    border-top: none;
    color: #1c1e21;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    font-weight: normal;
    padding-top: 0;
}

.celebrity{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    font-weight: 600;
   color: #1c1e21;
   float: left;
   padding-left: 5em;
}

.business{
    float: left;
    padding-left: 0.35em;
    font-size: 0.875em;
}
input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    line-height: .95em;
    padding: 0 0.5em;
    vertical-align: middle;
    width: 87%;
    height:3.3em;
    border: 0.0625em solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    border-radius: 0.5em;
  
}

textarea, .inputtext, .inputpassword {
    border: 1px solid #ccd0d5;
    border-radius: 0;
    margin: 0;
    padding: 0.1875em;
}
.bottom{
    padding-top: 1.25em;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75;
    height: 9.75em;
    background-color:white;
    width: 100%;
}

.pageFooter{
    color: #737373;
    margin: 0 auto;
    width: 61.25em;
    display: block;
}

li{
    vertical-align: top;
    border-width: 0 0 0 1px;
    display: inline-block;
    padding-left: 0.625em;
}

li:last-child{
    padding-right: 0;
}

.lang-border{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}

.language{
    font-size: 0.75em;
}
.links-cointainer, .language{
    padding-left: 1.55em;
    vertical-align: top;
    display: inline-block;
}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    margin-left: -1.25em;
    color: #737373;
    font-size: 0.75em;
    font-weight: normal ;
}

.copyright{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 0.6875em;
    color: #737373;
    padding-left: 2.5em;
}

body, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
}


